<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding align="center" class="background">
  <h1>3 Categories for Quiz Session</h1>


    
      
      <ion-list padding >
    
     <br>
          <ion-label  text-wrap style="font-size:20px;"><b>K53 LEARNERS Quetions</b></ion-label><br>
          <img src="assets/pic.jpg" routerLink="/home/cat1"><br>
      <br>
      <br>
        <ion-label  text-wrap style="font-size:20px;"><b>SOUTH AFRICA Quetions</b></ion-label><br>
          <img src="assets/sa.png" routerLink="/home/cat2"><br>
          <br>
          <br>
          <ion-label  text-wrap style="font-size:20px;"><b>AFRICA Quetions</b></ion-label><br>
        <img src="assets/afric.jpg"  routerLink="/home/cat3"><br>
     <br>
        </ion-list>
       
    
   
    
</ion-content>
