.background{
    --background : url("/assets/pro.png") no-repeat 0/100% 100%;
}
.checked {
    color: orange;
  }
  p{
      color:black;
      font-size: 2rem;
  }
  h3{
    font-size: 2rem;
      color:black;
      
    justify-self: center; 
  }
  h1{
    font-size: 2rem;
    
    justify-self: center;
    color:black;
    
  }