ion-title{
    font-size: 2rem;
}
ion-slides{
    position: relative;
}
.background{
    --background : url("/assets/ppp.jpg") no-repeat 0/100% 100%;
}
ion-progress-bar{
    position: absolute;
    top: 0;
   
}
ion-button{
    position: absolute;
    bottom: -25px;
   
}
.head{
    position: absolute;
    top: 45px; 
    font-size: 35px; 
}

